<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 INRIA/IRISA
 Triskell Team
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.org.kermeta.kompren/org/kermeta/kompren/slicer"
            class="org2.kermeta.kompren.slicer.provider.SlicerItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
   <extension point="org.eclipse.ui.commands">
   		<command
           id="kompren.slicer.edit.command.convertAsTextAction.id"
           description="Creates Kompren textual models from the selected kompren models."
           name="Create komprent file">
   		</command>
   		<command
           id="kompren.slicer.edit.command.convertAsModelAction.id"
           description="Creates Kompren models from the selected komprent files."
           name="Create kompren model">
   		</command>
   		<command
           id="kompren.slicer.edit.command.createMSFAction.id"
           description="Compiles the selected Kompren models into model slicer functions."
           name="Create model slicer function">
   		</command>
   </extension>
   
	<extension point="org.eclipse.ui.handlers">
	  <handler
	        class="kompren.slicer.edit.contribution.ConvertAsTextActionHandler"
	        commandId="kompren.slicer.edit.command.convertAsTextAction.id">
	  </handler>
	  <handler
	        class="kompren.slicer.edit.contribution.ConvertAsModelActionHandler"
	        commandId="kompren.slicer.edit.command.convertAsModelAction.id">
	  </handler>
	  <handler
	        class="kompren.slicer.edit.contribution.CreateMSFActionHandler"
	        commandId="kompren.slicer.edit.command.createMSFAction.id">
	  </handler>
	</extension>
	
	<extension point="org.eclipse.core.expressions.definitions">
	   <definition id="org.kermeta.kompren.testExtension.kompren">
	      <adapt type="org.eclipse.core.resources.IResource">
             <test property="org.eclipse.core.resources.extension" value="kompren"/>
	      </adapt>
	   </definition>
	   <definition id="org.kermeta.kompren.testExtension.komprent">
	      <adapt type="org.eclipse.core.resources.IResource">
             <test property="org.eclipse.core.resources.extension" value="komprent"/>
	      </adapt>
	   </definition>
	   <definition id="org.kermeta.kompren.testExtension.komprentOrkompren">
	      <adapt type="org.eclipse.core.resources.IResource">
	      	<or>
	      		<test property="org.eclipse.core.resources.extension" value="komprent"/>
	      		<test property="org.eclipse.core.resources.extension" value="kompren"/>
	      	</or>
	      </adapt>
	   </definition>
	</extension>
	
	<extension point="org.eclipse.ui.menus">
	  <menuContribution
	        locationURI="popup:org.eclipse.ui.popup.any?after=additions">
	     <menu
	           id="org.kermeta.kompren.menu"
	           label="Kompren">
	        <visibleWhen>
		      <with variable="selection">
		         <iterate ifEmpty="false">
		           <reference definitionId="org.kermeta.kompren.testExtension.komprentOrkompren"/>
		         </iterate>
		      </with>
	        </visibleWhen>
	     </menu>
	  </menuContribution>
  
	  <menuContribution locationURI="popup:org.kermeta.kompren.menu?after=additions">
	     <command commandId="kompren.slicer.edit.command.convertAsModelAction.id" style="push">
	        <visibleWhen>
		      <with variable="selection">
		         <iterate ifEmpty="false">
		           <reference definitionId="org.kermeta.kompren.testExtension.komprent"/>
		         </iterate>
		      </with>
	        </visibleWhen>
	     </command>
	     
	     <command commandId="kompren.slicer.edit.command.convertAsTextAction.id" style="push">
	        <visibleWhen>
		      <with variable="selection">
		         <iterate ifEmpty="false">
		           <reference definitionId="org.kermeta.kompren.testExtension.kompren"/>
		         </iterate>
		      </with>
	        </visibleWhen>
	     </command>
	     
	     <command commandId="kompren.slicer.edit.command.createMSFAction.id" style="push">
	        <visibleWhen>
		      <with variable="selection">
		         <iterate ifEmpty="false">
		           <reference definitionId="org.kermeta.kompren.testExtension.komprentOrkompren"/>
		         </iterate>
		      </with>
	        </visibleWhen>
	     </command>
	  </menuContribution>
	</extension>
</plugin>
