<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="KMT Editor"
            extensions="kmt"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.kermeta.language.texteditor.eclipse.KMTEditor"
            id="org.kermeta.language.texteditor.eclipse.KMTEditor">
      </editor>
   </extension>

</plugin>
