<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
/**
 * <copyright>
 * </copyright>
 *
 * $Id: plugin.xml,v 1.16 2008-03-19 16:34:14 cfaucher Exp $
 */
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package
          class="org.kermeta.KmPackage"
          genModel="build/ecore/kermeta.genmodel"
          uri="http://www.kermeta.org/kermeta/1_2_0//kermeta"/> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.kermeta.org/kermeta/1_2_0//kermeta/language" 
       class = "org.kermeta.language.LanguagePackage"
       /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.kermeta.org/kermeta/1_2_0//kermeta/language/behavior" 
       class = "org.kermeta.language.behavior.BehaviorPackage"
       /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.kermeta.org/kermeta/1_2_0//kermeta/language/structure" 
       class = "org.kermeta.language.structure.StructurePackage"
       /> 
  </extension>
  
</plugin>

