<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.kermeta.language.emftexteditor.mopp.KermetaMetaInformation" id="org.kermeta.language.emftexteditor.mopp.KermetaMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.kermeta.language.emftexteditor.ui.KermetaEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="kermeta" icon="icons/editor_icon.gif" id="org.kermeta.language.emftexteditor.ui.KermetaEditor" name="EMFText kermeta Editor">
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.kermeta.language.emftexteditor.ui.KermetaPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Kermeta Text Editor" id="org.kermeta.language.emftexteditor.ui.KermetaPreferencePage" class="org.kermeta.language.emftexteditor.ui.KermetaPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.kermeta.language.emftexteditor.ui.KermetaSyntaxColoringPreferencePage" class="org.kermeta.language.emftexteditor.ui.KermetaSyntaxColoringPreferencePage" category="org.kermeta.language.emftexteditor.ui.KermetaPreferencePage">
		</page>
		<page name="Brackets" id="org.kermeta.language.emftexteditor.ui.KermetaBracketPreferencePage" class="org.kermeta.language.emftexteditor.ui.KermetaBracketPreferencePage" category="org.kermeta.language.emftexteditor.ui.KermetaPreferencePage">
		</page>
		<page name="Occurrence" id="org.kermeta.language.emftexteditor.ui.KermetaOccurrencePreferencePage" class="org.kermeta.language.emftexteditor.ui.KermetaOccurrencePreferencePage" category="org.kermeta.language.emftexteditor.ui.KermetaPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.kermeta.language.emftexteditor.ui.KermetaNewFileWizard" id="org.kermeta.language.emftexteditor.ui.KermetaNewFileWizard" name="EMFText .kermeta file">
		</wizard>
	</extension>
	
	<extension id="org.kermeta.language.emftexteditor.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension id="org.kermeta.language.emftexteditor.nature" name="kermeta nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.kermeta.language.emftexteditor.mopp.KermetaNature" />
		</runtime>
		<builder id="org.kermeta.language.emftexteditor.builder" />
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.kermeta.language.emftexteditor.builder" name="kermeta Builder">
		<builder hasNature="true">
			<run class="org.kermeta.language.emftexteditor.mopp.KermetaBuilderAdapter" />
		</builder>
	</extension>
	
	<extension-point id="org.kermeta.language.emftexteditor.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.kermeta.language.emftexteditor.mopp.KermetaResourceFactoryDelegator" type="kermeta">
		</parser>
	</extension>
	
	<extension-point id="org.kermeta.language.emftexteditor.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd"/>
	
</plugin>
